<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Главная</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>

		{% include 'html/login_container.html' %}
		{% include 'html/top_bar.html' %}

<!--		{% for task in tasks %}-->
<!--			<div class="table">-->
<!--				{% for key in task.keys() %}-->
<!--					&lt;!&ndash;{% if key == "Id" %}-->
<!--					<p><a href="/task/{{task[key]}}">{{key}}: {{task[key]}}</a></p>-->
<!--					{% else %}-->
<!--					<p>{{key}}: {{task[key]}}</p>-->
<!--					{% endif %}&ndash;&gt;-->
<!--					<p>{{key}}: {{task[key]}}</p>-->

<!--				{% endfor %}-->
<!--			</div>-->
<!--		{% endfor %}-->

	</body>
</html>
