<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задача</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

{% include 'html/login_container.html' %}
{% include 'html/top_bar.html' %}

<h2> {{task[1]}} </h2>
<h2> Описание: </h2>
<h2> {{task[4]}} </h2>
<h2> Награда за выполнение: </h2>
<h2> {{task[3]}} </h2>
<h2> Ответ: </h2>
<h2> {{task[2]}} </h2>
<details>
    <summary>Редактировать</summary>
    <form action="/update_task/{{task[0]}}" method="get">
        Имя: <br>
        <input type="text" name="name" value="{{task[1]}}" required>
        <br>
        Описание: <br>
        <input type="text" name="description" value="{{task[4]}}" required>
        <br>
        Награда за выполнение: <br>
        <input type="number" name="reward" value="{{task[3]}}" min="0" max="1000" required>
        <br>
        Ответ: <br>
        <input type="text" name="answer" value="{{task[2]}}" required>
        <br>
        <br>
        <input style="width: 40%; height: 50px" type="submit" name = "submit" value="Отправить" class="submit">
    </form>
</details>

</body>
</html>
