<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Теоретические задания</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>

		{% include 'html/login_container.html' %}
		{% include 'html/top_bar.html' %}

		<div class="table">
			<br>
			<details>
				<summary>Добавить направление</summary>
				<form action="/add_course/" method="get">
					Имя: <br>
					<input type="text" name="name" value="">
					<br>
					<br>
					<input style="width: 40%; height: 50px" type="submit" name = "submit" value="Добавить" class="submit">
				</form>
			</details>
			<br>
			{% for key in chapter.keys() %}
				<details>
					<summary>Направление: {{ key }} </summary>
					{% for level in chapter[key].keys() %}
					<details>
						<summary>Уровень: {{ level }} </summary>
						{% for material in chapter[key][level] %}
							<p>
								<a href="/chapter/{{material[0]}}">{{material[1]}}</a>
								<a href="/delete_chapter/{{material[0]}}">Удалить</a>
							</p>
						{% endfor %}
						<details>
							<summary>Добавить теоретическую задачу</summary>
							<form action="/add_chapter/{{key}}/{{level}}" method="get">
        						Имя: <br>
								<input type="text" name="name" value="" required>
								<br>
								<br>
    							<input style="width: 40%; height: 50px" type="submit" name = "submit" value="Добавить" class="submit">
							</form>
						</details>
						<br>
					</details>
					{% endfor %}
				</details>
			{% endfor %}
		</div>

	</body>
</html>
