<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Практические задания</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>

		{% include 'html/login_container.html' %}
		{% include 'html/top_bar.html' %}

		<div class="table">
			<br>
			<details>
				<summary>Добавить направление</summary>
				<form action="/add_course/1" method="get">
					Имя: <br>
					<input type="text" name="name" value="">
					<br>
					<br>
					<input style="width: 40%; height: 50px" type="submit" name = "submit" value="Добавить" class="submit">
				</form>
			</details>
			<br>
			{% for key in task.keys() %}
				<details>
					<summary>Направление: {{ key }} </summary>
					{% for level in task[key].keys() %}
					<details>
						<summary>Уровень: {{ level }} </summary>
						{% for material in task[key][level] %}
							<p>
								<a href="/practical_task/{{material[0]}}">{{material[1]}}</a>
								<a href="/delete_practical_task/{{material[0]}}">Удалить</a>
							</p>
						{% endfor %}
						<details>
							<summary>Добавить задачу</summary>
							<form action="/add_practical_task/{{key}}/{{level}}" method="get">
        						Имя: <br>
								<input type="text" name="name" value="" required>
								<br>
        						Описание: <br>
								<input type="text" name="description" value="" required>
								<br>
        						Награда за выполнение: <br>
								<input type="number" name="reward" value="1" min="0" max="1000" required>
								<br>
        						Ответ: <br>
								<input type="text" name="answer" value="" required>
								<br>
								<br>
    							<input style="width: 40%; height: 50px" type="submit" name = "submit" value="Добавить" class="submit">
							</form>
						</details>
						<br>
					</details>
					{% endfor %}
				</details>
			{% endfor %}
		</div>

	</body>
</html>
